.primary-btn {
  border-radius: 4px;
  border: 1px solid #da614c;
  background: #da614c;
  -webkit-text-fill-color: #fff;
  :hover {
    -webkit-text-fill-color: #fff;
    border-radius: 4px;
    border: 1px solid #da614c;
    background: #bf4733;
  }
}
