.welcome-text {
  color: #101828;
  text-align: center;
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.92px;
}
.signup-form-conatiner {
  display: flex;
  flex-direction: column;
  gap: 20px;
  .password-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.login-form-footer-conatiner {
  display: flex;
  justify-content: center;
  .login-form-footer {
    display: flex;
    gap: 5px;
  }
}

.login-form-footer-conatiner p span {
  font-weight: bold;
  cursor: pointer;
}

.login-form-footer-conatiner p span:hover {
  color: #da614c;
}
